<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Плюшкин</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/images/icon.jpg"> <!-- иконка сайта -->
    <link rel="stylesheet" href="/css/style_for_my_collection_add.css">
    <link rel="stylesheet" href="/css/my_main.css">
</head>

<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light p-3 shadow-sm" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="/collections"><i class="fa-solid fa-shop me-2"></i> <strong>ПЛЮШКИН</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="/collections">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/collections/my">Мои коллекции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/collection-blanks">Шаблоны коллекций</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/about">О сайте</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/account"><i class="fa-solid fa-circle-user me-1"></i> Аккаунт</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!----------------------СЕКЦИЯ Добавление коллекции------------------------------>
<section>
    <div class="container-m">
        <div class="layout-my-collections">
            <div class="flex-wrapper-one">
                <p class="my-collections">Мои коллекции</p>
            </div>

            <div class="container-xxl w-50">
                <h2>Новый элемент коллекции</h2>
                <form class="form-horizontal" th:method="POST"
                      th:action="@{/items/new/{number}/features(number=${collectionId})}"
                      th:object="${collectionItem}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="name">Название элемента:</label>
                        <div>
                            <input type="text" th:field="*{name}" class="form-control" id="name"
                                   placeholder="Введите название элемента" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Описание элемента:</label>
                        <div>
                            <input type="text" th:field="*{description}" class="form-control" id="description"
                                   placeholder="Введите описание элемента" name="description">
                        </div>
                    </div>
                    <br>
                    <div>
                        <label class="control-label">Выберите фотографию: </label>
                        <input type="file" name="image" accept="image/png, image/jpeg"/>
                    </div>
                    <br>
                    <div class="d-grid gap-3">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block">Заполнить характеристики</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Подвал сайта -->
<br>
<footer class="page-footer font-small blue" style="height: 62px; background-color: #e3f2fd;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        plushkin@gmail.com <br>© "Плюшкин" 2023
    </div>
</footer>

</body>
</html>